<!-- NavbarComponent -->
<div class="NavSelector">
  <div class="navHomeComponents" *ngIf="esDealer">
    <app-navhome></app-navhome>
  </div>
  <div class="navProvComponents" *ngIf="esProvider">
    <app-navprov></app-navprov>
  </div>
</div>


<div class="home-body">


  <!-- Bloque Datos Personales -->
  <div class="personal-data-container"><br>
    <div class="personal-date-content">
      <div class="image-profile-content">
        <!-- Imagen de prefil -->
        <img [lazyLoad]="obtenerImagenPerfil(usuario.id, usuario.perfil.fotoPerfil)" alt="Profile Image">
      </div>
      <h1>{{ usuario.perfil.nombre }} {{ usuario.perfil.apellido }}</h1>
      <div class="personal-date">
        <p>
          Descripción: <span>{{ usuario.perfil.descripcion }}</span><br>
          Email: <span>{{ usuario.email }}</span>
        </p>
        <ng-container *ngIf="usuario.perfil.empresa; else comercioDatos">
          <p>
            Empresa: <span>{{ usuario.perfil.empresa.nombre }}</span><br>
            Rubro: <span>{{ usuario.perfil.empresa.rubro }}</span><br>
            Domicilio: <span>{{ usuario.perfil.empresa.domicilio }}</span><br>
            Cel: <span>{{ usuario.perfil.empresa.telefono }}</span>
          </p>
        </ng-container>
        <ng-template #comercioDatos>
          <p>
            Comercio: <span>{{ usuario.perfil.comercio.nombre }}</span><br>
            Rubro: <span>{{ usuario.perfil.comercio.rubro }}</span><br>
            Domicilio: <span>{{ usuario.perfil.comercio.domicilio }}</span><br>
            Cel: <span>{{ usuario.perfil.comercio.telefono }} </span>
          </p>
        </ng-template>
      </div>
      <button mat-flat-button color="primary" class="boton-editar" (click)="abrirConfig()">
        Editar Perfil
      </button>
    </div>
  </div>

  
  <!-- Bloque Publicaciones -->
  <div class="publications-container">


    <div class="toggle-sidebar-container">
      <!-- Botón de menú para pantallas pequeñas -->
      <button class="menu-button" (click)="toggleSidebar()">
        <span class="vertical-line-1"></span>
        <span class="vertical-line-2"></span>
      </button>

      <!-- Sección de datos personales para movil-->
      <div class="sidebar" [class.active]="isSidebarActive">
        <h2>Mis Datos Personales</h2>



        <div class="personal-date-content">

          <div class="image-profile-content">
            <!-- Imagen de prefil -->
            <img [lazyLoad]="obtenerImagenPerfil(usuario.id, usuario.perfil.fotoPerfil)" alt="Profile Image">
          </div>
          <h1>{{ usuario.perfil.nombre }} {{ usuario.perfil.apellido }}</h1>
          <div class="personal-date">
            <p>
              Descripción: <span>{{ usuario.perfil.descripcion }}</span><br>
              Email: <span>{{ usuario.email }}</span>
            </p>
            <ng-container *ngIf="usuario.perfil.empresa; else comercioDatos">
              <p>
                Empresa: <span>{{ usuario.perfil.empresa.nombre }}</span><br>
                Rubro: <span>{{ usuario.perfil.empresa.rubro }}</span><br>
                Domicilio: <span>{{ usuario.perfil.empresa.domicilio }}</span><br>
                Cel: <span>{{ usuario.perfil.empresa.telefono }}</span>
              </p>
            </ng-container>
            <ng-template #comercioDatos>
              <p>
                Comercio: <span>{{ usuario.perfil.comercio.nombre }}</span><br>
                Rubro: <span>{{ usuario.perfil.comercio.rubro }}</span><br>
                Domicilio: <span>{{ usuario.perfil.comercio.domicilio }}</span><br>
                Cel: <span>{{ usuario.perfil.comercio.telefono }} </span>
              </p>
            </ng-template>
          </div>
          <button mat-flat-button color="primary" class="boton-editar" (click)="abrirConfig()">
            Editar Perfil
          </button>
        </div>


      </div>
    </div>

    <div class="box-new-publication publicacion-card">
      <h1 class="text-center">Nueva Publicación</h1>
      <form (ngSubmit)="crearPublicacion()" class="form-container">

        <!-- Vista previa de la imagen -->
        <div class="image-preview" *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Image Preview" class="preview-image">
        </div>

        <!-- Campo de descripción -->
        <div class="form-group">
          <label for="descripcionPublicacion">Descripción de la Publicación:</label>
          <textarea id="descripcionPublicacion" [(ngModel)]="descripcionPublicacion" placeholder="Escribe aquí..."
            name="descripcionPublicacion" class="input-textarea"></textarea>
        </div>

        <!-- Selector de archivo -->
        <div class="form-group">
          <label for="fileInput">Seleccionar Imagen:</label>
          <input id="fileInput" type="file" (change)="onFileSelectedPublicacion($event)" class="input-file">
        </div>

        <!-- Botón de crear publicación -->
        <button type="submit" class="btn-submit">Crear Publicación</button>
      </form>
    </div>

    <!-- Publicaciones -->
    <div *ngIf="publicaciones.length > 0; else noPublicaciones">
      <div *ngFor="let publicacion of publicaciones" class="publicacion-container">
        <div class="publicacion-card">
          <div class="publicacion-header">
            <div class="publicacion-autor-info">
              <img [lazyLoad]="obtenerImagenPerfil(publicacion.autor.id, publicacion.autor.fotoPerfil)"
                class="autor-imagen" (error)="handleImgError($event)">
              <div class="autor-detalles">
                <h3 class="autor-nombre">{{ publicacion.autor.nombre }} {{ publicacion.autor.apellido }}</h3>
                <p class="publicacion-fecha">{{ publicacion.fecha | date:'longDate' }}</p>
              </div>
            </div>
          </div>

          <div class="publicacion-imagen-container">
            <img [lazyLoad]="obtenerImgPublicacion(publicacion.autor.id, publicacion.fotoPublicacion)"
              class="publicacion-imagen">
          </div>

          <div class="publicacion-contenido">
            <p [style.whiteSpace]="'pre-line'">{{ publicacion.contenido }}</p>
          </div>

          <div class="publicacion-acciones">
            <button class="boton-accion like-button">LIKE</button>
            <button class="boton-accion share-button">SHARE</button>
            <button *ngIf="publicacion.autor.id === usuario.id" (click)="eliminarPublicacion(publicacion.idPublicacion)"
              class="boton-accion eliminar-button">
              ELIMINAR
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Caso sin publicaciones -->
    <ng-template #noPublicaciones>
      <p>No hay publicaciones disponibles.</p>
    </ng-template>


    <footer>
      <div class="footer-space">
        <div class="footer-container">

          <!-- Redes sociales -->
          <div class="footer-content">
            <h4>Síguenos</h4>
            <a href="#"><img src="https://img.icons8.com/fluent/24/000000/facebook-new.png" alt="Facebook"></a>
            <a href="#"><img src="https://img.icons8.com/fluent/24/000000/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="https://img.icons8.com/fluent/24/000000/instagram-new.png" alt="Instagram"></a>
            <a href="#"><img src="https://img.icons8.com/fluent/24/000000/linkedin.png" alt="LinkedIn"></a>
          </div>
        </div>
        <p>&copy; 2024 Provider Pedidos &reg;. Todos los derechos reservados.</p>
      </div>
    </footer>

  </div>










  <!-- Bloque Relaciones Comerciales -->
  <!-- <div class="derecha">
    <div class="box full-width text-center">
      <h2 class="text-center">Relaciones comerciales</h2>
      <div class="container box-proveedores">
        <div *ngIf="relacionesComerciales.length > 0; else noSolicitudes">
          <div *ngFor="let perfilRelacion of relacionesComerciales" class="proveedor-item">
            <div class="proveedor-info">

              <-- Relaciones Comerciales -- >
              <img [lazyLoad]="obtenerImagenPerfil(perfilRelacion.id, perfilRelacion.fotoPerfil)" alt="Profile Image"
                class="circle-img-lateral" (error)="handleImgError($event)">
              <div class="full-width">
                <div class="datos-usuarios">
                  <p>
                    <span class="nombre-apellido">{{ perfilRelacion.nombre }} {{ perfilRelacion.apellido}}</span><br>
                    <ng-container *ngIf="perfilRelacion.empresa">
                      <span class="comercio-info">{{ perfilRelacion.empresa.nombre }} - {{
                        perfilRelacion.empresa.domicilio }}</span>
                    </ng-container>
                    <ng-container *ngIf="perfilRelacion.comercio">
                      <span class="comercio-info">{{ perfilRelacion.comercio.nombre }} - {{
                        perfilRelacion.comercio.domicilio }}</span>
                    </ng-container>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noSolicitudes>
          <p>No hay relaciones Comerciales.</p>
        </ng-template>
      </div>
    </div>
  </div> -->