.home-body {
  display: flex;
  background-color: rgb(240, 240, 240);
  height: 100vh;  /* Hacer que ocupe toda la altura de la ventana */
  overflow: hidden;  /* Evitar scroll en el cuerpo */
}

/* Estilos para la sección de datos personales */
.personal-data-container {
  width: 350px;
  padding: 1%;
  padding-top: 48px;
  padding-left: 2%;
  position: fixed;
  height: 100vh;
  overflow: hidden;

  border-radius: 10px;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.personal-data-container.hidden {
  transform: translateX(-100%); /* Ocultar la sección cuando está en modo oculto */
}

.personal-date-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Ocultar la sección de datos personales en pantallas de menos de 800 píxeles */
@media (max-width: 1040px) {

  .personal-data-container {
    display: none;
  }

}

.image-profile-content {
  text-align: center;
}

.image-profile-content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.personal-date-content h1 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.personal-date {
  padding: 5px;
}

.personal-date p {
  color: gray;
  font-size: 14px;
  line-height: 1.6;
  margin: 10px 0;
}

.personal-date span {
  color: black;
  font-weight: bold;
}



.publications-container {
  flex-grow: 1;  /* Ocupar el espacio restante */
  margin-left: 400px;  /* Dejar espacio para la columna de datos personales */
  overflow-y: scroll;  /* Mantener el scroll funcional */
  scrollbar-width: none;  /* Oculta la scrollbar en Firefox */
  padding: 5%;
  height: auto;  /* Asegurarse que ocupe toda la altura */
  padding-top: 40px;
}

/* Ajuste del margin-left para pantallas medianas */
@media (max-width: 1440px) {

  .personal-data-container{
    width: 300px;
   }
  .publications-container {    
    margin-left: 300px; /* Reducir el margen en pantallas más pequeñas */
  }
}

/* Ajuste del margin-left para pantallas aún más pequeñas */
@media (max-width: 1240px) {

  .personal-data-container{
    width: 250px;
   }
  
  .publications-container {
    margin-left: 250px;
  }
}






/* Ocultar el scroll en navegadores WebKit */
.publications-container::-webkit-scrollbar {
  display: none;  /* Oculta la scrollbar */
}



.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;  /* Asegura que tome todo el ancho disponible */
  max-width: 100%;  /* Limita el ancho máximo para evitar que sea demasiado grande */
  box-sizing: border-box;
}

.image-preview {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.preview-image {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-textarea {
  width: 100%;  /* Se ajusta al ancho del contenedor */
  max-width: 100%;  /* Evita que se expanda más allá del contenedor */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical;  /* Permite redimensionar solo en vertical */
  min-height: 60px;
  box-sizing: border-box; /* Asegura que el padding y el border estén dentro del ancho total */
}
.input-file {
  padding: 5px;
  font-size: 14px;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-submit:hover {
  background-color: #45a049;
}

/* Publicaciones */
.publicacion-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin-bottom: 20px; /* Espaciado entre las cards */
}

/* Estilos del header de la publicación */
.publicacion-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.publicacion-autor-info {
  display: flex;
  align-items: center;
}

.autor-imagen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.autor-detalles {
  display: flex;
  flex-direction: column;
}

.autor-nombre {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.publicacion-fecha {
  font-size: 12px;
  color: gray;
  margin: 0;
}

/* Estilos de la imagen de la publicación */
.publicacion-imagen-container {
  margin-bottom: 15px;
}

.publicacion-imagen {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Estilos del contenido de la publicación */
.publicacion-contenido {
  margin-bottom: 15px;
}

.publicacion-contenido p {
  font-size: 14px;
  color: #333;
  white-space: pre-line;
}

/* Estilos de los botones de acción */
.publicacion-acciones {
  display: flex;
  justify-content: space-between;
}

.boton-accion {
  padding: 8px 12px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.boton-accion:hover {
  background-color: #1565c0;
}

.eliminar-button {
  background-color: #d32f2f;
}

.eliminar-button:hover {
  background-color: #c62828;
}

.like-button,
.share-button {
  background-color: #1976d2;
}

.like-button:hover,
.share-button:hover {
  background-color: #1565c0;
}


.toggle-sidebar-container {
  display: flex;
  flex-direction: row;
  position: relative;
}




.menu-button {
  position: fixed;
  height: 70px;
  width: 23px;
  left: 0;
  top: 50%;
   background-color: #140a9c;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  z-index: 999; 
  display: none;
  transition: transform 0.3s ease-in-out; /* Transición suave para el desplazamiento */
  border-top-right-radius: 10px; /* Redondear esquina superior derecha */
  border-bottom-right-radius: 10px; /* Redondear esquina inferior derecha */
}

.vertical-line-1,
.vertical-line-2 {
 
  display: block; /* Asegura que se comporten como bloques */
  width: 3px; /* Ancho de la línea */
  height: 15px; /* Alto de la línea */
  background-color: rgb(255, 255, 255); /* Color de la línea */
  position: absolute; /* Cambiado a absolute para mejor posicionamiento */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Alinear al centro */
  transition: transform 0.8s ease;
}

.vertical-line-1 {
  transform: rotate(45deg); /* Inclinación para formar parte del símbolo ">" */
  margin-bottom: 10px; /* Espacio entre líneas */
}

.vertical-line-2 {
  transform: rotate(-45deg); /* Inclinación para formar parte del símbolo ">" */
  margin-top: -10px; /* Espacio entre líneas */
}






.menu-button.active {
  transform: translateX(340px); /* Mueve el botón 250px hacia la derecha cuando está activo */
}
.menu-button.active .vertical-line-1 {
  transform: rotate(-45deg); /* Gira las líneas 90 grados */
}

.menu-button.active .vertical-line-2 {
  transform: rotate(45deg); /* Gira las líneas 90 grados */
}

.sidebar {
  width: 300px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -500px; /* Inicialmente fuera de la pantalla */
  transition: left 0.4s ease-in-out 0.1;
  

}

.sidebar.active  {
   left: 0; /* Desplegar la sección cuando el botón está activo */
}


/* Ajuste para pantallas pequeñas */
@media (max-width: 1040px) {
  
  .menu-button {    
    display: block;
    position: fixed;    
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté siempre por encima de otros elementos */
  }




  .sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Ocultar la barra lateral por defecto */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease; /* Transición suave al mostrar la barra lateral */
    z-index: 999;
  }

  

  .sidebar.active {
    
    left: 0; /* Desplegar la barra lateral al activar */
  }

  .publications-container {
    margin-left: 0; /* Eliminar margen en pantallas pequeñas */
  }

  .publications-container.shifted {
    margin-left: 300px; /* Ajustar margen al abrir la barra lateral */
  }
} 

footer{
  display: none;
}


