
<div *ngIf="esDealer">
    <app-navhome></app-navhome>
  </div>
  
  <div *ngIf="esProvider">
    <app-navprov></app-navprov>
  </div>
  
  <div class="principal-container body">
    <div class="izquierda">
  
      <div class="box full-width text-center">
  
      
        <p> vista de usuarios </p>

        <br><br>

        <p> chats </p>
      </div>
  
    </div>
  
  
    <div class="central full-width">
      <div class="box text-center">
  
  
        <p>Contenido Mensajes</p>
  
    
  
       </div>
      </div>
  
      <div class="derecha">
        <div class="box full-width text-center">
  
          <p>Contenido sin definir</p>
        </div>
  
      </div>
    </div>