<!-- Barra de Navegación Superior -->
<div class="navbar">
  <div class="navbar-container">

    <!-- Logo -->
    <div class="logo-container">
      <img src="../../../assets/provider.png" class="logo">
    </div> <!--./logo-container -->

    <!-- Botón de Hamburguesa -->
    <div class="hamburger" (click)="toggleMenu()">
      <div class="line line1" [class.active]="menuOpen"></div>
      <div class="line line2" [class.active]="menuOpen"></div>
      <div class="line line3" [class.active]="menuOpen"></div>
    </div> <!--./hamburguesa-->

    <!-- Menú desplegable -->
    <div class="dropdown-menu" [class.show]="menuOpen">
      <div class="dropdown-background"></div>
      <div class="dropdown-content">
        <ul>
          <li><a [routerLink]="['/login']">Iniciar Secion</a></li>
          <li><a [routerLink]="['/signup']">Registrarse</a></li>
          <li><a [routerLink]="['/ruta3']">Quienes Somos</a></li>
          <li><a [routerLink]="['/ruta3']">Contacto</a></li>
        </ul>
      </div>
    </div><!--./dropdown-menu-->
  </div>
</div><!--./navbar-->