<!-- NavbarComponent -->
<div class="NavSelector">
  <div class="navHomeComponents" *ngIf="esDealer">
    <app-navhome></app-navhome>
  </div>
  <div class="navProvComponents" *ngIf="esProvider">
    <app-navprov></app-navprov>
  </div>
</div>

<div class="mensajes-body">
  
<br><br><br><br><h1 style="text-align: center; font-size: 150px;">Pedidos</h1>

</div>

    <footer
  style="background-color: #f8f9fa; padding: 20px; text-align: center; font-family: Arial, sans-serif; color: #333;">
  <div style="max-width: 1200px; margin: auto;">
    <div
      style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 20px 0; border-bottom: 1px solid #ddd;">

      <!-- Redes sociales -->
      <div style="flex: 1; min-width: 250px; margin-bottom: 20px;">
        <h4 style="margin-bottom: 10px;">Síguenos</h4>
        <a href="#" style="margin: 0 10px;"><img src="https://img.icons8.com/fluent/24/000000/facebook-new.png"
            alt="Facebook"></a>
        <a href="#" style="margin: 0 10px;"><img src="https://img.icons8.com/fluent/24/000000/twitter.png"
            alt="Twitter"></a>
        <a href="#" style="margin: 0 10px;"><img src="https://img.icons8.com/fluent/24/000000/instagram-new.png"
            alt="Instagram"></a>
        <a href="#" style="margin: 0 10px;"><img src="https://img.icons8.com/fluent/24/000000/linkedin.png"
            alt="LinkedIn"></a>
      </div>
    </div>
    <p style="margin: 20px 0;">&copy; 2024 Provider Pedidos &reg;. Todos los derechos reservados.</p>
  </div>
</footer>