<div *ngIf="esDealer">
  <app-navhome></app-navhome>
</div>

<div *ngIf="esProvider">
  <app-navprov></app-navprov>
</div>

<div class="containerProductos">
  <div class="containerBotonProducto full-width">
    <div class="botonProducto">
      <button mat-flat-button (click)="crearProducto()" color="primary">Agregar Producto</button>
      <!-- <button mat-flat-button (click)="agregarListaDePrecio()" color="primary">Agregar Lista de Precio</button> -->
    </div>
  </div>
  <table class="product-table">
    <thead>
      <tr>
        <th></th>
        <th>Imagen</th>
        <th>Código</th>
        <th>Nombre de producto</th>
        <th>Descripción</th>
        <th>Lista 1</th>
        <th>Lista 2</th>
        <th>Lista 3</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let producto of productos; let i = index"> -->

        <tr *ngFor="let producto of productos; let i = index"
        [ngClass]="{'disabled-row': !producto.enabled, 'enabled-row': producto.enabled}">


          <td>
          <mat-slide-toggle color="primary" [(ngModel)]="producto.enabled" (change)="alternarInterruptor(producto.idProducto, producto.enabled)"></mat-slide-toggle>
        </td>
        


       
        <!-- Contenido de las celdas de la fila -->




        
        <td class="product-image-container">
          <img [src]="obtenerImagenProducto(producto.idUsuario, producto.fotoProducto)" alt="Product Image"
            class="img-product" (error)="handleImgError($event)">
          <button mat-icon-button class="edit-icon-button" *ngIf="producto.editableImagen"
            (click)="editarImagenProducto(producto)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td><input [(ngModel)]="producto.codigo" [disabled]="!producto.editable"></td>
        <td><input [(ngModel)]="producto.nombre" [disabled]="!producto.editable"></td>
        <td><input [(ngModel)]="producto.descripcion" [disabled]="!producto.editable"></td>
        <td><input [(ngModel)]="producto.lista1" [disabled]="!producto.editable"></td>
        <td><input [(ngModel)]="producto.lista2" [disabled]="!producto.editable"></td>
        <td><input [(ngModel)]="producto.lista3" [disabled]="!producto.editable"></td>
        <td>
          <div class="containerBorones">
            <button mat-icon-button (click)="editarProducto(i)" [disabled]="producto.editable">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="actualizarProducto(i)" [disabled]="!producto.editable">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarProducto(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>