<app-navbar></app-navbar>

<div class="body">



  <div class="contenedor-principal">



    <!-- login.component.html -->
    <div class="loading-screen" *ngIf="loading()">
      <img src="../../../assets/logoProviderWhite.svg" class="logoload" alt="Loading Logo">
    </div>



    <!-- SECCION BANNER -->
    <div class="seccion-banner">
      <img src="../../../assets/provider-white.png" alt="Logo" class="logo">
      <img src="../../../assets/bannerPrincipal.jpg" alt="Banner" class="banner">
      <div class="text-container">
        <!-- SVG del texto 'PENSAMOS EN TU NEGOCIO' -->
        <object type="image/svg+xml" data="../../../assets/pensamosEnTuNegocio.svg" class="text-svg"></object>
      </div>
    </div> <!-- fin SECCION BANNER -->

    <!-- SECCION LOGIN -->
    <div class="seccion-login">
      <div class="contenedor-registro">

        <mat-card>
          <div>
            <img src="../../../assets/singup.png">

            <h1 class="text-center">Inicio de sesión</h1>
            <form (ngSubmit)="login()">
              
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Nombre de Usuario</mat-label>
                  <input [(ngModel)]="credentials.username" name="username" matInput
                    placeholder="Digite su nombre de usuario" id="username" autocomplete="username" required>
                </mat-form-field>
             

              <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input [(ngModel)]="credentials.password" type="password" name="password" matInput
                  placeholder="Digite su contraseña" id="password" name="password" autocomplete="current-password"
                  required>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Ingrese su contraseña</mat-label>
                <input [(ngModel)]="credentials.password" matInput [type]="hide() ? 'password' : 'text'" name="password" required>
                <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)" 
                        [attr.aria-label]="hide() ? 'Ocultar contraseña' : 'Mostrar contraseña'" 
                        [attr.aria-pressed]="hide()">
                  <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>



              <div>
                <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
              </div>

            </form>
          </div>
        </mat-card>






        <div>
          <p>¿Aún no estás registrado?</p>
          <a [routerLink]="['/signup']"><button mat-raised-button color="warn">Registrarse</button></a>
        </div>
      </div>



    </div> <!-- fin seccion login -->



  </div>


</div>


<!-- SECCION FOOTER -->

<footer>
  <div class="container">
    <div class="footer-content">
      <!-- Información de contacto -->
      <div class="contact-info">
        <h4>Contáctenos</h4>
        <p>Rosario, Santa Fe, Argentina</p>
        <p><strong>Teléfono:</strong> +54 341 310 1153</p>
        <p><strong>Email:</strong> contacto&#64;provider.com</p>
      </div>
      <!-- Enlaces adicionales -->
      <div class="links">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
      <!-- Redes sociales -->
      <div class="social-media">
        <h4>Síguenos</h4>
        <div class="icons">
          <a href="#"><img src="https://img.icons8.com/fluent/24/000000/facebook-new.png" alt="Facebook"></a>
          <a href="#"><img src="https://img.icons8.com/fluent/24/000000/twitter.png" alt="Twitter"></a>
          <a href="#"><img src="https://img.icons8.com/fluent/24/000000/instagram-new.png" alt="Instagram"></a>
          <a href="#"><img src="https://img.icons8.com/fluent/24/000000/linkedin.png" alt="LinkedIn"></a>
        </div>
      </div>
    </div>
    <p class="footer-bottom">&copy; 2024 Provider Pedidos &reg;. Todos los derechos reservados.</p>
  </div>
</footer>














<router-outlet></router-outlet>