html, body { height: 100%; }

body {
  padding-top: 38px; /* Espacio para el navBar*/
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  
}


/* <<< GENERALES >>> */

p{
  font-size: 11px;
}

.text-center{
    text-align: center;
}

.full-width{
    width: 100%;
}

.box {
  background-color: #ffffff; /* BLANCO */
  border: 1px solid #E0E0E0; /* Borde del recuadro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 8px; /* Espaciado interno */
  margin: 10px; /* Margen inferior para separar elementos */
}


.configContainer {
  display: flex;
  align-items: center;
  padding-inline-end: 23%;
  /* justify-content: flex-end;*/

}

.seccionesContainer {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 8%;
  padding-inline-end: 8%;
  flex: 1;
}

.iconContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  margin: 0 2px;
  /* Espacio entre los iconos */
  width: 100px;
  /* Ancho fijo para cada icono */
  justify-content: center;
  /* Centrar contenido verticalmente */
}

.iconContainer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 11px;
  color: #636363;
}


/* <<< ESTRUCTURA PRINCIPAL >>> */

.principal-container {
    /* display: grid; */
  /* grid-template-columns: 1% 20%  auto; */
  margin: auto;
  grid-gap: 20px; 
  }
  
  .izquierda {
    grid-column: 2; /* La columna izquierda */
  }
  
  .central {
    grid-column: 3; /* La columna central */
    
  }
  
  .derecha {
    grid-column: 4; /* La columna derecha */
    justify-self: start;
    margin-left: -38px;
    
  }






  

  .flex-container-datos-comer{
    
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  
  }

  .circle-img-lateral {
    width: 38px; /* Ancho de la imagen */
    height: 38px; /* Altura de la imagen */
    border-radius: 50%; /* Bordes redondeados para crear un círculo */
    margin-right: 5px; /* Espacio entre la imagen y la caja de detalles */
  }
  
  
  button {
    font-size: 10px;
  }
  
  
  .datos-comerciante p {
    color: rgb(106, 106, 106);
    font-size: 14px;
    
  }
  
  
  .datos-usuarios {
  
    text-align: left; 
  }
  
  
  
  
  .nombre-apellido {
    color: black;
    font-weight: bold;
    
  }
  
   .comercio-info {
    color: rgb(106, 106, 106);
    
  }

  /*   NUEVO*/

  