<div class="resumen-pedido-container">
  <div class="resumen-pedido-header">Resumen del Pedido</div>

  <table class="table-container">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Producto</th>
        <th>Importe</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data.items">
        <td>{{ item.cantidad }}</td>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.precioUnitario | currency }}</td>
        <td class="subtotal">{{ item.subtotal | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="total">Total</td>
        <td class="subtotal total">{{ data.total | currency }}</td>
      </tr>
    </tfoot>
  </table>

  <button class="boton-realizar-pedido" (click)="realizarPedido()">Realizar Pedido</button>
</div>